<div class="main">
    <div class="screen">
        <textarea inputmode ="none" spellcheck="false" #screen></textarea>
        <div class="result">
            {{ result ?? "" | number:"1.0-6" }}
        </div>
    </div>
    <div class="functions">
        <button (click)="postOperation('\(')">(</button>
        <button (click)="postOperation('\)')">)</button>
        <button (click)="refresh()"><img src="assets/refresh.png"></button>
        <button (click)="getVersion()">V</button>
        <button (click)="changeAngle()">DEG</button>
        <button (click)="postOperation('sin(', 4)">SIN</button>
        <button (click)="postOperation('cos(', 4)">COS</button>
        <button (click)="postOperation('tan(', 4)">TAN</button>
    </div>
    <div class="numbers">
        <button (click)="postNumber(7)">7</button>
        <button (click)="postNumber(8)">8</button>
        <button (click)="postNumber(9)">9</button>
        <button (click)="postNumber(4)">4</button>
        <button (click)="postNumber(5)">5</button>
        <button (click)="postNumber(6)">6</button>
        <button (click)="postNumber(1)">1</button>
        <button (click)="postNumber(2)">2</button>
        <button (click)="postNumber(3)">3</button>
        <button (click)="postNumber(0)">0</button>
        <button (click)="postOperation('.')">.</button>
        <button (click)="postOperation('×10')">×10</button>
    </div>
    <div class="operations">
        <button (click)="backspace()"><img src="assets/backspace.png"></button>
        <button (click)="clear()">AC</button>
        <button (click)="postOperation('×')">×</button>
        <button (click)="postOperation('÷')">÷</button>
        <button (click)="postOperation('+')">+</button>
        <button (click)="postOperation('-')">-</button>
        <button (click)="postOperation('ans',3)">ans</button>
        <button (click)="calculate()">=</button>
    </div>
</div>